.hero{
  background:#4b6584;
  color:white;
  text-align:center;
  padding:50px;
}

.filters{
  display:flex;
  gap:15px;
  justify-content:center;
  padding:25px;
  flex-wrap:wrap;
}

.filters select{
  padding:10px;
  border:1px solid #ccc;
  border-radius:8px;
}

.price{
  display:flex;
  flex-direction:column;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  padding:30px;
}

.card{
  background:white;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.card img{
  height:220px;
  object-fit:cover;
}

.content{
  padding:20px;
}

.content h2{
  margin-bottom:10px;
}

.content p{
  margin:8px 0;
}

.content button{
  width:100%;
  padding:12px;
  background:#4b6584;
  color:white;
  border:none;
  border-radius:8px;
  margin-top:15px;
}